.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-inline: 24px;
    height: 64px;

    &__menu {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 0;
            transform: translate(-50%, -10px);
            background-color: $white-90;
            width: 200%;
            height: calc(100% + 20px);
            clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
        }

        ul {
            list-style-type: none;
            display: flex;
            column-gap: 8px;
            margin: 0;
            padding: 0;

            li {
                border: 4px solid $gray-light;
                padding: 5px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                cursor: pointer;
                transition: .2s all ease-in-out;

                svg path {
                    transition: .2s all ease-in-out;
                }

                &:hover {
                    background-color: $gray-light;

                    svg, svg path {
                        fill: #FFFFFF;
                    }
                }

                a {
                    display: flex;
                }
            }
        }
    }
}

.header__search {
    background-color: $white-90;
    width: calc(50% - 128px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    position: relative;

    input {
        padding-inline: 32px;
        width: 75%;
        height: 40px;
        border-radius: 20px;
        border: 2px solid #b2b2b6;
        background-color: $white;
    }
}

.header__search::before {
    content: '';
    width: 64px;
    height: 64px;
    background-color: $white-90;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    left: -64px;
    position: absolute;
}

.header__search::after {
    content: '';
    width: 64px;
    height: 64px;
    background-color: $white-90;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    right: -63px;
    position: absolute;
}

.button {
    border-radius: 52px;
    margin-bottom: 8px;
    cursor: pointer;

    &--with-icon {
        display: flex;
        border: 2px solid $gray-light;
        padding: 4px;

        span {
            color: $text-dark;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 10px;
        }

        .icon {
            padding: 4px 8px;
            background-color: $black-90;
            border-radius: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.icon {
    transition: .3s all ease-in-out;
}
