.container {
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    flex: 1;
    background-color: $white-90;
    padding: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 24px;
    z-index: 1;

    &::before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
        background-size: 1500px !important;
        mix-blend-mode: overlay;
        background: url("../assets/bg.png") no-repeat;
        z-index: -1;
    }
}
