// Typography
$font-family: 'Poppins', sans-serif;

// BREAKPOINTS
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
$white: #FBFBFB;
$white-90: #EEF0F1;
$white-75: #E5E7E9;
$white-50: #B2B2B6;
$black: #1A1A1A;
$black-90: #404040;
$black-75: #808080;
$red: #FF8080;
$blue: #C2BAEE;
$green: #87DCBA;
$body-bg: #FFF;
$gray-light: #B2B2B6;
$gray-dark: #808080;
$text-dark: #1A1A1A;
