@import "../../../../sass/variables";

.tabs {
    display: flex;
    background-color: #FBFBFB;
    border-radius: 24px;
    border: 2px solid $white-75;

    &__tab {
        padding: 10px 40px;
        text-align: center;
        cursor: pointer;
        transition: .2s text-shadow ease-in-out;

        &:hover {
            text-shadow: 0 0 0.5px black;
        }

        &--active {
            text-shadow: 0 0 1px black;
            text-decoration: underline;
        }
    }

    &__spacer {
        height: 100%;
        width: 2px;
        background-color: $white-50;
    }
}
