@import "../../../sass/variables";

.analysis {
    height: 100%;

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .details {
        display: flex;
        justify-content: flex-end;
        color: $black;
        font-size: 18px;
        font-weight: 600;

        svg {
            margin-left: 10px;
        }
    }

    &__tabs-content {
        height: calc(100% - 70px);
    }
}
