@import './../../../sass/variables';

.container {
    width: 100%;
    height: 100%;
}

.dashboard__component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.dashboard__stats {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    position: relative;
    z-index: 1000;
    list-style-type: none;
    display: flex;
    column-gap: 8px;
    margin: 0;
    padding: 0;

    li {
        border: 4px solid $gray-light;
        padding: 5px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: .2s all ease-in-out;

        svg path {
            transition: .2s all ease-in-out;
        }

        &:hover {
            background-color: $gray-light;

            svg, svg path {
                fill: #FFFFFF;
            }

            img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            }
        }

        img {
            width: 24px;
            filter: invert(53%) sepia(0%) saturate(105%) hue-rotate(278deg) brightness(94%) contrast(98%);
        }

        a {
            display: flex;
        }

        span {
            top: 24px;
            word-wrap: break-word;
            position: absolute;
            writing-mode: vertical-rl;
            text-orientation: upright;
            border: 4px solid $white-50;
            border-radius: 24px;
            padding: 48px 8px 8px 8px;
            font-weight: bold;
            color: $black-75;
        }
    }
}

.dashboard__charts {
    width: 100%;
    height: calc(100% - 80px);
    border-radius: 24px;
    margin-top: 32px;
    background-color: $white-75;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.1);
}

.dashboard__charts-top {
    display: flex;
    gap: 24px;
    margin-inline: 16px;
}

.dashboard__top-item {
    background-image: url('./../../../assets/frame38.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 150px;
    min-width: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    span:nth-child(1) {
        padding-top: 72px;
        font-size: 24px;
        font-weight: bold;
    }

    span:nth-child(2) {
        font-size: 12px;
        color: $black-75;
    }

    &:nth-child(2) {
        background-image: url('./../../../assets/frame39.png');
    }

    &:nth-child(3) {
        background-image: url('./../../../assets/frame40.png');
    }
}

.dashboard__charts-map {
    svg path {
        transition: all 0.4s;
    }
    svg path:hover {
        filter: brightness(0) saturate(100%) invert(75%) sepia(28%) saturate(332%) hue-rotate(209deg) brightness(100%) contrast(87%);
    }
}

.dashboard__charts-map-pale {
    width: 10px;
    min-height: 20px;
    background-color: #FF8080;
    position: absolute;
    text-align: center;
    transition: all 0.5s;
    
    span {
        position: absolute;
        top: -20px;
        left: -8px;
        font-weight: bold;
        font-size: 14px;
    }
}

.dashboard__charts-diagrams {
    margin-top: 15px;
    width: 90%;
    height: 200px;
    background-color: $white-90;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dashboard__charts-diagrams-circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-left: 24px;
        background-image: conic-gradient($red 0deg, $red 30deg, $blue 30deg, $blue 110deg, $green 110deg, $green 360deg);
    }

    .dashboard__charts-diagrams-circle::after {
        content: '';
        width: 60px;
        height: 60px;
        left: 72px;
        top: 575px;
        border-radius: 50%;
        background-color: $white-90;
        position: absolute;
    }

    .dashboard__charts-diagrams-list {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        gap: 16px;

        .dashboard__charts-diagrams-point {
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 12px;

            .dashboard__charts-diagrams-dot {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $red;
            }

            &:nth-child(2) .dashboard__charts-diagrams-dot {
                background-color: $blue;
            }

            &:nth-child(3) .dashboard__charts-diagrams-dot {
                background-color: $green;
            }
        }
    }
}

.dashboard__charts-diagrams::before {
    content: '';
    width: 50px;
    height: 16px;
    background-color: #FF8080;
    position: absolute;
    border-top-left-radius: 16px;
    top: 488px;
    left: 30px;
}

.dashboard__main {
    width: calc(50% - 104px);
    height: 100%;
    margin-left: 48px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > span {
        font-size: 44px;
        font-weight: bold;
        color: $black-75;
        margin-bottom: 24px;
    }

    .dashboard__panel {
        width: 100%;
        max-height: calc(100% - 152px);
        margin-bottom: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
        row-gap: 16px;

        .dashboard__panel-item {
            height: calc(100% - 8px);
            overflow-y: scroll;
            background-color: $white;
            border-radius: 24px;
            padding-top: 8px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            box-shadow: inset -4px -10px 10px rgb(212, 212, 212), inset -4px 10px 10px rgb(212, 212, 212);
            
            
            > span {
                margin-inline: 16px;
                font-size: 18px;
                font-weight: bold;
            }

            .dashboard__panel-item-case {
                width: calc(100% - 32px);
                margin-left: 16px;
                border-radius: 16px;
                border: 4px solid var(--itemTypeColor);
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: all 0.2s;

                .dashboard__panel-item-case-list {
                    margin-left: 8px;
                    margin-top: 4px;
                    display: flex;
                    flex-direction: column;
                    transition: all 0.2s;

                    span:nth-child(1) {
                        font-size: 14px;
                        white-space: nowrap;
                        width: 160px;
                        overflow: hidden;
                        transition: all 0.2s;
                    }

                    span:nth-child(2) {
                        font-size: 10px;
                        color: $black-75;
                        width: 160px;
                        transition: all 0.2s;
                    }

                    > div {
                        display: flex;
                        width: 160px;
                        margin-top: 16px;
                        font-size: 12px;
                        font-weight: 500;
                        margin-bottom: 8px;
                        color: $white;
                        align-items: center;

                        .dashboard__panel-item-case-list-type {
                            background-color: var(--itemTypeColor);
                            padding: 2px 8px;
                            border-radius: 16px;
                            transition: all 0.2s;
                        }

                        span {
                            margin-left: 8px;
                            font-size: 12px;
                        }
                    }
                }

                .dashboard__panel-button {
                    width: 40px;
                    height: 40px !important;
                    border-radius: 50%;
                    background-color: var(--itemTypeColor);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    margin-right: 8px;
                    transition: all 0.2s;
                    cursor: pointer;

                    img {
                        width: 20px;
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
                    }
                }
            }
        } 

        .dashboard__panel-item-case:hover {
            background-color: var(--itemTypeColor) !important;
            span {
                color: white !important;
            }

            .dashboard__panel-item-case-list > div {
                color: var(--itemTypeColor);
            }

            .dashboard__panel-item-case-list-type {
                background-color: $white !important;
            }

            .dashboard__panel-button {
                background-color: $white;
                
                img {
                    filter: brightness(0) saturate(100%) invert(49%) sepia(0%) saturate(1040%) hue-rotate(139deg) brightness(102%) contrast(87%);
                }
            }
        }
    }

    .dashboard__services {
        width: 100%;
        height: 64px;
        background-color: $white;
        position: absolute;
        bottom: -24px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: $black-75;
            cursor: pointer;
        }

        span {
            width: 2px;
            height: 24px;
            background-color: $white-50;
            margin-inline: 32px;
        }
    }

    .dashboard__services::before {
        content: '';
        width: 64px;
        height: 64px;
        background-color: $white;
        position: absolute;
        left: -64px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    .dashboard__services::after {
        content: '';
        width: 64px;
        height: 64px;
        background-color: $white;
        position: absolute;
        right: -64px;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
}

.dashboard__bot {
    position: relative;
    z-index: 1;
    width: 25%;
    height: 100%;
    border-radius: 24px;
    background-color: $white-75;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.1);

    .dashboard__bot-top {
        height: 48px;
        width: calc(100% - 16px);
        background-color: $white;
        border-radius: 24px;
        border-bottom-right-radius: 0;
        box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.1);
        display: flex;
        align-items: center;
        gap: 16px;
        padding-left: 16px;
        font-weight: bold;

        div {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $green;
        }
    }

    .dashboard__bot-content {
        height: calc(100% - 64px - 56px);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;

        .dashboard__bot-icon {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            background-color: $green;
            overflow: hidden;
            box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.1);

            svg {
                margin-top: 20px;
            }
            margin-bottom: 32px;
        }

        .dashboard__bot-start {
            color: $black-75;
            font-size: 12px;
            padding-bottom: 8px;
            border-bottom: 2px solid $white-50;
            width: 300px;
            text-align: center;
        }

        .dashboard__bot-messages {
            padding-inline: 16px;
            display: flex;
            flex-direction: column;
            margin-top: 16px;
            gap: 16px;
            font-size: 14px;
            transition: all 0.25s;
            height: fit-content;
            overflow: hidden;

            .dashboard__bot-message.bot {
                max-width: calc(90% - 24px);
                background-color: $green;
                align-self: flex-start;
                border-radius: 16px;
                padding: 4px 12px;
                transition: all 0.25s;
                box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.1);
            }

            .dashboard__bot-message.me {
                max-width: calc(90% - 24px);
                align-self: flex-end;
                background-color: $white;
                border-radius: 16px;
                padding: 4px 12px;
                transition: all 0.25s;
                box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.1);
            }

            .dashboard__bot-message:last-child {
                margin-bottom: 16px;
            }
        }
    }

    .dashboard__bot-use {
        height: 64px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 8px;

        div {
            color: $black-75;
            font-size: 12px;
            padding-inline: 32px;
        }

        .dashboard__bot-send {
            display: flex;
            height: 40px;
            padding-inline: 16px;
            width: calc(100% - 32px);
            gap: 8px;

            input {
                background-color: $white-75;
                height: 32px;
                padding-left: 16px;
                border-radius: 20px;
                width: calc(100% - 64px);
                border: 2px solid $white-50;
                color: $black-90;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 40px;
                border-radius: 20px;
                border: none;
                background-color: $white;
                cursor: pointer;
                transition: all 0.25s;

                img {
                    width: 20px;
                    height: 20px;
                    filter: brightness(0) saturate(100%) invert(53%) sepia(0%) saturate(2343%) hue-rotate(28deg) brightness(95%) contrast(87%);
                }
            }

            button:hover {
                background-color: $green;
            }
        }
    }

    .dashboard__bot-icon {
        transition: all 0.25s;
    }
}