@import "../../../../sass/variables";

.judgement-preview {
    display: flex;
    column-gap: 30px;
    height: 100%;

    &__text {
        width: 50%;
    }

    &__list {
        width: 50%;
    }

    .text-view {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 24px;
        padding-bottom: 24px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

        img {
            width: 100%;
            object-fit: cover;
        }

        &__content {
            flex: 1;
            padding: 12px 24px 16px;
            overflow-y: auto;
        }
    }

    .list-view {
        height: 100%;
        overflow-y: auto;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .dropdown {
                margin-top: 30px;

                &:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }
}
