@import "../../../../sass/variables";

.judgement-line {
    width: 70%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 24px;

    &__header {
        padding: 20px 30px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        text-align: center;
    }

    &__content {
        display: flex;
        column-gap: 20px;
        padding-bottom: 10px;
    }
}

.line {
    height: fit-content;
    width: 230px;
    padding-left: 30px;
    margin-left: 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 2px;
        height: calc(100% - 20px);
        background-color: $white-50;
        left: 0;
        top: 0;
    }

    &__title {
        padding: 20px 0;
        text-align: center;
        color: $white-50;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__items {

    }
}

.item {
    background-color: $white-90;
    margin-bottom: 16px;
    padding: 15px;
    color: $black-90;
    border-radius: 16px;
    transition: background-color .3s ease-in-out;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: $white-50;
        left: -30px;
        top: 50%;
    }

    &:last-of-type::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 50%;
            background-color: white;
            left: -30px;
            top: calc(50% + 2px);
    }

    &:hover {
        background-color: #da8989;

        .item__title,  .item__text,  .item__link a {
            transition: color .3s ease-in-out;
            color: white;
        }

        .item__link a:before, .item__link a:after {
            transition: background-color .3s ease-in-out;
            background-color: white;
        }
    }

    &__title {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    &__text {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__link {
        text-align: center;

        a {
            position: relative;
            font-size: 11px;
            font-weight: 400;
            color: $black-75;
            text-decoration: none;

            &::before, &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 1px;
                background-color: $white-50;
                top: 50%;
            }

            &::before {
                right: calc(100% + 10px);
            }

            &::after {
                left: calc(100% + 10px);
            }
        }
    }
}
