@import "../../../../sass/variables";

.dropdown {
    width: fit-content;
    border-radius: 22px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    background-color: $white;
    transition: .2s all ease-in-out;

    &__header {
        padding: 4px 16px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;

        svg {
            margin-left: 10px;
        }
    }

    &__content {
        font-size: 14px;
        font-weight: 400;
        overflow: hidden;
        max-height: 0;

        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;

        &--open {
            transform: scaleY(1);
            max-height: fit-content;
            padding: 0 15px 15px;
        }

        p {
            border-bottom: 1px solid #FFB4B4;
            padding-bottom: 5px;
            margin-bottom: 5px;

            &:last-of-type {
                border: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}
